@font-face {
  font-family: "Montserrat";
  src: url(../../assets/font/Montserrat-Light.ttf);
}

.container-carousel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.heading {
  font-family: "Montserrat";
  color:#747474;
  margin-top: 40px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 5px 5px #747474;
}
