@font-face{
    font-family: 'Montserrat';
    src:url(../../assets/font/Montserrat-Light.ttf);
}

.container-footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat';
}
.footer-section1{
    height: 35vh;
    display:flex;
    justify-content: space-around;
    text-align: center;
    background-color: #545454;
    color:aliceblue;
}

.footer-section2{
    height: 8vh;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #737373;
    color:#FFEFEC;
}
.container-icon{
    margin-top: 40px !important;
}
.icon{
   margin-left: 15px;
   margin-right: 15px;
}