@font-face{
    font-family: 'Montserrat';
    src:url(../../../assets/font/Montserrat-Light.ttf);
}

.container-section3{
    display:flex;
    flex-direction: column !important;
    background-color: #747474;
    color:#FFEFEC;
    justify-content: space-around;
    text-align: center;
    height: 70vh;
    font-family: 'Montserrat';
    margin-top: 3rem;
  
}

.container-filosofia{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    justify-content: center;
}
.text1{
font-size: 1.08em;
    margin-top: 30px;
    justify-content: center;
    width: 80%;
}
