@font-face{
    font-family: 'Montserrat';
    src:url(../../../assets/font/Montserrat-Light.ttf);
}

.container-section3{
    display:flex;
    color:#FFEFEC;
    justify-content: center;
    text-align: center;
    text-align: center;
    height: 50vh;
    font-family: 'Montserrat';
    margin-top: 3rem;
}

.filosofia{
    width: 70vw;
    padding: 15px;
    border-radius: 40px 40px 0px 0px;
    background-color: rgba(162, 82, 115, 0.592);
}

.container-filosofia{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    justify-content: center;
}
.text1{
font-size: 1.08em;
    margin-top: 30px;
    justify-content: center;
    width: 80%;
}
