@font-face{
    font-family: 'Montserrat';
    src:url(../../../assets/font/Montserrat-Light.ttf);
}
#contacto{
    font-family: 'Montserrat';
    justify-content: center;
    text-align: center;
}

.container-text {
    background-color: #545454;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 30vh; /* Ajusta la altura como desees */
    margin-top: 3em;
}

.text{
    color: #FFEFEC;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-map{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    color:#747474
}

.map{
    margin-top: 3rem;
    width: 100%;
    height: 60vh;
}
