.container-logo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 30vh;
    /* Ajusta la altura como desees */
}

.container-logo > img {
    /* Estilos adicionales para la imagen */
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
}
