.container-hero{
    height: 80vh;
    background-image: url("../assets/carousel/c3.jpg"); /* The image used *//* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
